*,
*::after,
*::before {
  direction: rtl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: IRANSans, Helvetica, sans-serif;
}
body {
  min-height: 150vh;
  background-color: #000000;
  color: #fff;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}
button,
button:focus,
button:visited,
button:hover,
button:active {
  /* color: inherit; */
  text-decoration: inherit;
  font-weight: inherit;
  background-color: inherit;
  outline: inherit;
}
